@model IEnumerable<Bookstore.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Add New Author</a>
    </p>
}

<form asp-controller="Authors" asp-action="Index">
      <p>
        First Name: <input type="text" name="SearchName" placeholder="Enter First Name" />
        <input type="submit" value="Filter" />
    </p>

    <p>
        Last Name: <input type="text" name="SearchSurname" placeholder="Enter Last Name" />
        <input type="submit" value="Filter" />
    </p>

    <p>
        Nationality: <input type="text" name="SearchNationality" placeholder="Enter Nationality" />
        <input type="submit" value="Filter" />
    </p>
    <p>
        Gender: <input type="text" name="SearchGender" placeholder="Enter Gender">
        <input type="submit" value="Filter" />
        

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>

                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Authors", new { id = item.Id })'">Edit</button>
                    }
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "Authors", new { id = item.Id })'">Details</button>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Authors", new { id = item.Id })' ">Delete</button>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
